/* ===============

Component: Speaker
Author: Thiago Queiroz

=============== */

@import "assets/stylesheets/core/variables";

.speaker {
  margin-bottom: 2rem;
  position: relative;
  display: column;
  justify-content: space-between;
  align-items: center;
}