<section class="about">
  <div class="photo">
    <img class="image" src="assets/images/about-photo.jpg" alt="Foto DevFest 2017 - GDG">
    <span class="legend -normal -productsans">Galeria</span>
  </div>

  <div class="text">
    <h2 class="title -big">
      Um pouco <span class="-red">do que somos</span>
    </h2>
  
    <nav class="more">
      <a class="link -large -grey" href="https://photos.app.goo.gl/ZaE6CTqOlyfdgPeZ2" title="Um pouco do que somos">
         Veja as fotos do nosso evento anterior
      </a>
    </nav>
  </div>
</section>