<section class="looking-far-away">
  <div class="text">
    <h2 class="title">
      Olhando <span class="-blue">para longe!</span>
    </h2>

    <ul class="data">
      <li class="item">
        <span class="-large">Mais de</span> 
        <strong class="-productsans -xlarge -blue">1.000</strong> 
        <span class="m-l-40">Participantes</span>
      </li>
      <li class="item p-t-20">
        <strong class="-productsans -xlarge -blue">28</strong> 
        <span class="m-l-20">Sessões</span>
      </li>
      <li class="item p-t-20">
        <strong class="-productsans -xlarge -blue">3</strong> 
        <span class="m-l-15">Trilha</span> 
        <span class="m-l-30">Paralelas</span>
      </li>
      <li class="item p-t-20">
        <strong class="-productsans -xlarge -blue">1</strong> 
        <span class="m-l-10">Hackathon</span>
      </li>
    </ul>
  </div>
</section>