<ul class="organizer-list">
  <li class="item">
    <div class="avatar">
      <div class="photo -round">
        <img class="image" src="https://i.imgur.com/noBc173.jpg" alt="Foto Nome do Membro da Equipe">
      </div>
    </div>

    <div class="text">
      <h4 class="name -productsans">Tiago Cândido</h4>
      <span class="job -blue -uppercase">Designer</span>
    </div>

    <nav class="medias">
      <a class="link" href="https://www.instagram.com/_tiagocand/" title="Instagram">
        <i class="mdi mdi-instagram"></i>
      </a>
      <a class="link" href="https://www.facebook.com/tiago.candido.12" title="Facebook">
        <i class="mdi mdi-facebook"></i>
      </a>
      <a class="link" href="https://www.linkedin.com/in/tiago-candido-536a37112/" title="Linkedin">
        <i class="mdi mdi-linkedin"></i>
      </a>
    </nav>
  </li>
  <li class="item">
    <div class="avatar">
      <div class="photo -round">
        <img class="image" src="https://i.imgur.com/yOQxwMt.jpg" alt="Foto Nome do Membro da Equipe">
      </div>
    </div>

    <div class="text">
      <h4 class="name -productsans">Lacordaire Melo</h4>
      <span class="job -blue -uppercase">Designer</span>
    </div>

    <nav class="medias">
      <a class="link" href="https://www.facebook.com/lacordaire.melo" title="Facebook">
        <i class="mdi mdi-facebook"></i>
      </a>
      <a class="link" href="https://www.facebook.com/lacordaire.melo" title="Linkedin">
        <i class="mdi mdi-linkedin"></i>
      </a>
    </nav>
  </li>
  <li class="item">
    <div class="avatar">
      <div class="photo -round">
        <img class="image" src="https://i.imgur.com/SqDmUOo.jpg" alt="Foto Nome do Membro da Equipe">
      </div>
    </div>

    <div class="text">
      <h4 class="name -productsans">Thiago Queiroz</h4>
      <span class="job -blue -uppercase">Front End</span>
    </div>

    <nav class="medias">
      <a class="link" href="https://www.instagram.com/eaebob/" title="Instagram">
        <i class="mdi mdi-instagram"></i>
      </a>
      <a class="link" href="https://www.facebook.com/eaebob" title="Facebook">
        <i class="mdi mdi-facebook"></i>
      </a>
      <a class="link" href="https://www.linkedin.com/in/eaebob/" title="Linkedin">
        <i class="mdi mdi-linkedin"></i>
      </a>
    </nav>
  </li>

  <li class="item">
    <div class="avatar">
      <div class="photo -round">
        <img class="image" src="https://i.imgur.com/dFC1pxf.jpg" alt="Foto Nome do Membro da Equipe">
      </div>
    </div>

    <div class="text">
      <h4 class="name -productsans">Fernanda Alves</h4>
      <span class="job -blue -uppercase">Líder STAFF</span>
    </div>

    <nav class="medias">
      <a class="link" href="https://www.instagram.com/fernandavvalves/" title="Instagram">
        <i class="mdi mdi-instagram"></i>
      </a>
      <a class="link" href="https://www.facebook.com/nandika.alves" title="Facebook">
        <i class="mdi mdi-facebook"></i>
      </a>
    </nav>
  </li>

  <li class="item">
    <div class="avatar">
      <div class="photo -round">
        <img class="image" src="https://i.imgur.com/tu9fpvM.jpg" alt="Foto Nome do Membro da Equipe">
      </div>
    </div>

    <div class="text">
      <h4 class="name -productsans">Luana de Paula</h4>
      <span class="job -blue -uppercase">Operacional</span>
    </div>

    <nav class="medias">
      <a class="link" href="https://www.instagram.com/luadpb/" title="Instagram">
        <i class="mdi mdi-instagram"></i>
      </a>
      <a class="link" href="https://www.facebook.com/luana.dpb" title="Facebook">
        <i class="mdi mdi-facebook"></i>
      </a>
    </nav>
  </li>
  <li class="item">
    <div class="avatar">
      <div class="photo -round">
        <img class="image" src="https://i.imgur.com/P7REqlH.jpg" alt="Foto Nome do Membro da Equipe">
      </div>
    </div>

    <div class="text">
      <h4 class="name -productsans">Jéssica Costa</h4>
      <span class="job -blue -uppercase">Apresentadora</span>
    </div>

    <nav class="medias">
      <a class="link" href="https://www.instagram.com/jessicacostainfo/" title="Instagram">
        <i class="mdi mdi-instagram"></i>
      </a>
      <a class="link" href="https://www.facebook.com/jessica.ufs" title="Facebook">
        <i class="mdi mdi-facebook"></i>
      </a>
      <a class="link" href="https://www.linkedin.com/in/j%C3%A9ssica-costa-info/" title="Linkedin">
        <i class="mdi mdi-linkedin"></i>
      </a>
    </nav>
  </li>
  <li class="item">
    <div class="avatar">
      <div class="photo -round">
        <img class="image" src="https://scontent.fmcz2-1.fna.fbcdn.net/v/t1.0-9/27337114_10210041487853496_5398763404594709712_n.jpg?_nc_cat=0&oh=e4b7d9762798b7c797280305bb339afd&oe=5C030455" alt="Foto Nome do Membro da Equipe">
      </div>
    </div>

    <div class="text">
      <h4 class="name -productsans">Anna Marques</h4>
      <span class="job -blue -uppercase">Apresentadora</span>
    </div>

    <nav class="medias">
      <a class="link" href="https://www.instagram.com/nalumarx/" title="Instagram">
        <i class="mdi mdi-instagram"></i>
      </a>
      <a class="link" href="https://www.facebook.com/nalumarx" title="Facebook">
        <i class="mdi mdi-facebook"></i>
      </a>
      <a class="link" href="https://twitter.com/nalumarx" title="Twitter">
        <i class="mdi mdi-twitter"></i>
      </a>
      <a class="link" href="https://www.linkedin.com/in/annaluizamarques/" title="Linkedin">
        <i class="mdi mdi-linkedin"></i>
      </a>
    </nav>
  </li>
  <li class="item">
    <div class="avatar">
      <div class="photo -round">
        <img class="image" src="https://i.imgur.com/BgzlhQP.jpg" alt="Foto Nome do Membro da Equipe">
      </div>
    </div>

    <div class="text">
      <h4 class="name -productsans">Gabriel Brasileiro</h4>
      <span class="job -blue -uppercase">Divulgação Presencial</span>
    </div>

    <nav class="medias">
      <a class="link" href="https://www.instagram.com/gab_brasileiro/" title="Instagram">
        <i class="mdi mdi-instagram"></i>
      </a>
      <a class="link" href="https://www.facebook.com/gab.brasileiro" title="Facebook">
        <i class="mdi mdi-facebook"></i>
      </a>
      <a class="link" href="https://twitter.com/gab.brasileiro" title="Twitter">
        <i class="mdi mdi-twitter"></i>
      </a>
      <a class="link" href="https://www.linkedin.com/in/gabrielbrasileiro/" title="Linkedin">
        <i class="mdi mdi-linkedin"></i>
      </a>
    </nav>
  </li>
</ul>