/* ===============

Component: Staff List
Author: Thiago Queiroz

=============== */

@import "assets/stylesheets/core/variables";

.organizer-list {
  & {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  > .item {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .avatar {
    & {
      width: 75%;
      margin: 0 auto 2rem;
      padding: .35rem;
      background: url("/assets/images/blue-circle.png") center no-repeat;
      background-size: contain;
    }

    >.photo {
      & {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $white-base;
      }
      &.-round {
        border-radius: 50%;
        overflow: hidden;
      }
      >.image {
        width: 100%;
        height: auto;
      }
    }
  }

  .text {
    margin-bottom: 1rem;
    text-align: center;
  }

  .name {
    // margin-bottom: 1rem;
  }

  .job {
    margin-bottom: 1rem;
  }

  .medias {
    & {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }

    > .link {
      & {
        color: $grey-dark;
        margin-right: 2rem;
        font-size: $font-large;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        color: $blue-medium;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .organizer-list {
    & {
      grid-template-columns: repeat(4, 1fr);
    }
    .medias {
      > .link {
        margin-right: .5rem;
        font-size: $font-normal;
      }
    }
  }
}