<section class="location">
  <div class="photo">
    <img class="image" src="assets/images/maceio-photo.jpg" alt="Maceió Foto">
  </div>

  <div class="text">
    <h2 class="title -uppercase">
      <span class="-light">Em</span>
      <strong class="-big -blue">Maceió</strong>
    </h2>

    <h3 class="subtitle -light">A sereia do Brasil!</h3>

    <p class="description">
      Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. 
    </p>
  </div>
</section>