<section class="location">
  <div class="photo">
    <img class="image" src="assets/images/maceio-photo.jpg" alt="Maceió Foto">
  </div>

  <div class="text">
    <h2 class="title -uppercase">
      <span class="-lato -regular">Em</span>
      <strong class="-blue">Maceió</strong>
    </h2>

    <h3 class="subtitle -lato -regular">A sereia do Brasil!</h3>

    <p class="description">
      Cidade de motivos para se apaixonar. Das praias às piscinas naturais repletas de peixes coloridos, a beleza da natureza convive em harmonia com a cidade e seus encantos culturais e históricos. Seja pelo clima e mar perfeito para relaxar em águas mornas e cristalinas, há um fascínio convidativo em Maceió.
    </p>

    <p class="date">
      Dia 17 de Novembro<br />
      de 2018
    </p>
    <p class="address">
      <strong class="-productsans -bold name">
        Hotel Jatiúca e Resort
      </strong>
      <span class="-small description">
        Av. Álvaro Otacílio, 5500 - Jatiúca, Maceió AL<br />
        CEP 57036-850
      </span>
    </p>
  </div>
</section>