/* ===============

Component: Location
Author: Thiago Queiroz

=============== */

@import "assets/stylesheets/core/variables";

.location {
  & {
    margin-bottom: 2rem;
    display: grid;
    grid-template-areas: "text" "photo";
    grid-template-columns: 1fr;
    grid-gap: 60px;
  }

  > .text {
    & {
      grid-area: text;
      padding: 1rem 4rem 1rem 1rem;
    }

    > .title {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      line-height: 1;

      > .-blue {
        font-size: 4.5rem;
      }
    }

    > .subtitle {
      margin-bottom: 1rem;
    }
  }

  > .photo {
    & {
      grid-area: photo;
      right: 4rem;
      position: relative;
      z-index: -1;
      width: calc(100% + 4rem);
    }

    .image {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .location {
    & {
      grid-template-areas: "photo text";
      grid-template-columns: minmax(700px, 7fr) 4fr;
    }

    > .text {
      > .title {
        > .-blue {
          margin-left: -12rem;
          font-size: $font-big;
        }
      }
    }
  }
}