/* ===============

Module: Variables
Author: Thiago Queiroz

=============== */

// Fonts
$font-primary: "Product Sans";
$font-secondary: "Open Sans";
$size-base: 16px;

// Sizes
$font-extra-small: .5rem;
$font-small: .8rem;
$font-medium: 1rem;
$font-normal: 1.2rem;
$font-large: 1.5rem;
$font-extra-large: 3rem;
$font-big: 6rem;

// Colors
$white-base: #fff;
$grey-light: #fafafa;
$grey-medium: #ccc;
$grey-dark: #767b81;
$black-base: #000;
$red-medium: #e1183a;
$yellow-medium: #f7c228;
$blue-medium: #4c82e8;
$green-medium: #24bf5a;
