/* ===============

Component: Staff Header
Author: Thiago Queiroz

=============== */

@import "assets/stylesheets/core/variables";

.staff-header {
  & {
    position: relative;
    margin-bottom: 5rem;
  }

  &:after {
    position: absolute;
    top: 50%;
    right: -2rem;
    display: block;
    width: 166px;
    height: 95px;
    content: "";
    background: url("/assets/images/seagulls-waves.png") center no-repeat;
    background-size: cover;
  }

  >.title {
    &:after {
      display: block;
      width: 44px;
      height: 62px;
      background: url("/assets/images/arrow-gdg.png") center no-repeat;
      background-size: cover;
    }
  }
}

@media only screen and (min-width: 768px) {
  .staff-header {
    &:after {
      top: -50%;
      width: 391px;
      height: 224px;
    }

    > .title {
      &:after {
        width: 70px;
        height: 103px;
      }
    }
  }
}