/* ===============

Component: App Header
Author: Thiago Queiroz

=============== */


.app-header {
  & {
    background: #fff;
  }

  .logo {
    > .image {
      max-width: 72px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .app-header {
    .logo {
      > .image {
        max-width: 52px;
      }
    }
  }
}
