/* ===============

Component: DevFest Layout
Author: Thiago Queiroz

=============== */

.devfest {
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 576px) {
  .devfest {
    max-width: 540px;
  }
}
@media only screen and (min-width: 992px) {
  .devfest {
    max-width: 960px;
  }
}
@media only screen and (min-width: 768px) {
  .devfest {
    max-width: 720px;
  }
}
@media only screen and (min-width: 1200px) {
  .devfest {
    max-width: 1140px;
  }
}
