<section class="schedule-list">
  <section class="morning-section">
    <header class="header turn-time">
      <h2 class="title -darkblue">Manhã</h2>
    </header>

    <ul class="list">
      <li class="item">
        <strong class="time -large -bold -darkblue">8h</strong>
        <ul class="events-list">
          <li class="item -waveblue">
            <span class="location -bold">Auditório 01</span>
            <h3 class="title -bold -darkblue">A vida de DEV com a música</h3>

            <div class="speaker">
              <strong>Bob Queiroz</strong>
              <small>Google Maceió</small>
            </div>

            <strong class="category">Mobile</strong>
          </li>

          <li class="item">
            <span class="location -bold">Auditório 01</span>
            <h3 class="title -bold -darkblue">A vida de DEV com a música</h3>

            <div class="speaker">
              <strong>Bob Queiroz</strong>
              <small>Google Maceió</small>
            </div>

            <strong class="category">Mobile</strong>
          </li>

          <li class="item">
              <span class="location -bold">Auditório 01</span>
              <h3 class="title -bold -darkblue">A vida de DEV com a música</h3>
  
              <div class="speaker">
                <strong>Bob Queiroz</strong>
                <small>Google Maceió</small>
              </div>
  
              <strong class="category">Mobile</strong>
            </li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="lunch-section">
    <h2 class="title -darkblue">
      <strong>Almoço</strong><br />
      Hora de reabastecer!
    </h2>
  </section>

  <section class="afternoon-section">
    <header class="turn-time">
      <h2 class="title -darkblue">Tarde</h2>
    </header>

    <ul class="list">
      <li class="item">
        <span class="time -darkblue">8h</span>
        <ul class="events-list">
          <li>
            <span class="location -bold">Auditório 01</span>
            <h3 class="title -bold -darkblue">A vida de DEV com a música</h3>

            <div class="speaker">
              <strong>Bob Queiroz</strong>
              <small>Google Maceió</small>
            </div>

            <strong class="category">Mobile</strong>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</section>