/* ===============

Component: Logo
Author: Thiago Queiroz

=============== */

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;

  > .link {
    display: inline-block;
  }
}