/* ===============

Module: Typograph
Author: Thiago Queiroz

=============== */

// Font Face
@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/product_sans_regular-webfont.woff2') format('woff2'),
         url('../fonts/product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/product_sans_bold-webfont.woff2') format('woff2'),
         url('../fonts/product_sans_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// Base
body {
  color: $grey-dark;
  font-size: $size-base;
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

a {
  & {
    color: $blue-medium;
  }

  &:hover {
    color: $blue-medium;
  }
}

// Sizes
small {
  font-size: $font-small;
}

// Weights
.-light {
  font-weight: 300;
}

.-regular {
  font-weight: 400;
}

.-semibold {
  font-weight: 600;
}

strong,
.-bold {
  font-weight: 700;
}

// Styles
.title,
.subtitle {
  font-family: $font-primary, $font-secondary, sans-serif;

  // Weights
  &.-light {
    font-weight: 300;
  }

  &.-bold {
    font-weight: 700;
  }

  // Colors
  &.-white {
    color: $white-base;
  }
  &.-grey {
    color: $black-base;
  }
  &.-green {
    color: $green-medium;
  }
}

.title {
  @extend .-bold;

  &.-small {
    font-size: $font-small;
  }
  &.-medium {
    font-size: $font-medium;
  }
  &.-large {
    font-size: $font-large;
  }
}

.subtitle {
  @extend .-light;

  &.-small {
    font-size: $font-small;
  }
  &.-medium {
    font-size: $font-medium;
  }
  &.-large {
    font-size: $font-large;
  }
}

// Align
.-textleft {
  text-align: left;
}
.-textcenter {
  text-align: center;
}
.-textright {
  text-align: right;
}
