/* ===============

Module: Typograph
Author: Thiago Queiroz

=============== */

// Font Face
@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/product_sans_regular-webfont.woff2') format('woff2'),
         url('../fonts/product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product Sans';
    src: url('../fonts/product_sans_bold-webfont.woff2') format('woff2'),
         url('../fonts/product_sans_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato_light-webfont.woff2') format('woff2'),
         url('../fonts/lato_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato_thin-webfont.woff2') format('woff2'),
         url('../fonts/lato_thin-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// Base
body {
  color: $grey-dark;
  font-size: $size-base;
  font-family: $font-primary, sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

a {
  & {
    color: $blue-medium;
  }

  &:hover {
    color: $blue-medium;
  }
}

// Styles
.title,
.subtitle {
  font-family: $font-secondary, sans-serif;
}

// Align
.-textleft {
  text-align: left;
}
.-textcenter {
  text-align: center;
}
.-textright {
  text-align: right;
}

// Sizes
small,
.-xsmall {
  font-size: $font-extra-small;
}
h6,
.-small {
  font-size: $font-small;
}
h5,
.-large {
  font-size: $font-medium;
}
h4,
.-large {
  font-size: $font-normal;
}
h3,
.-large {
  font-size: $font-large;
}
h2,
.-xlarge {
  font-size: $font-extra-large;
}
h1,
.-big {
  font-size: $font-big;
}

// Weights
.-light {
  font-weight: light;
}
.-regular {
  font-weight: normal;
}
.-semibold {
  font-weight: bold;
}
strong,
.-bold {
  font-weight: 700;
}

// Colors
.-white {
  color: $white-base;
}
.-grey {
  color: $grey-dark;
}
.-black {
  color: $black-base;
}
.-red {
  color: $red-medium;
}
.-green {
  color: $green-medium;
}
.-blue {
  color: $blue-medium;
}

// Transform
.-captalize {
  text-transform: captalize;
}
.-lowercase {
  text-transform: lowercase;
}
.-uppercase {
  text-transform: uppercase;
}

// Transform
.-lato {
  font-family: $font-primary;
}
.-productsans {
  font-family: $font-secondary;
}