<div class="team-profile">
  <div class="photo">
    <img class="image" src="assets/images/elisio-avatar.jpg" alt="Foto de Elisio Filho">
  </div>

  <div class="text">
    <h2 class="title -bold -red">Elisio Filho</h2>
    <h4 class="subtitle -uppercase">Organizador</h4>
    <p class="description">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI.</p>
    <nav class="medias">
      <a class="link" href="https://instagram.com/gdgmaceio" title="Instagram">
        <i class="mdi mdi-instagram"></i>
      </a>
      <a class="link" href="https://facebook.com/gdgmaceio" title="Facebook">
        <i class="mdi mdi-facebook"></i>
      </a>
      <a class="link" href="https://twitter.com/gdgmaceio" title="Twitter">
        <i class="mdi mdi-twitter"></i>
      </a>
      <a class="link" href="https://linkedin.com/gdgmaceio" title="Linkedin">
        <i class="mdi mdi-linkedin"></i>
      </a>
    </nav>
  </div>
</div>