/* ===============

Component: Team Profile
Author: Thiago Queiroz

=============== */

@import "assets/stylesheets/core/variables";

.team-profile {
  & {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  > .photo {
    & {
      padding-top: .75rem;
      position: relative;
      background: url("/assets/images/colour-background.png") top right no-repeat;
      background-size: 90%;
    }

    &:after {
      position: absolute;
      bottom: -.75rem;
      right: 5rem;
      display: block;
      width: 423px;
      height: 36px;
      background: url("/assets/images/red-wave.png") bottom no-repeat;
      background-size: contain;
      content: "";
    }

    > .image {
      width: 100%;
      height: auto;
    }
  }

  > .text {
    & {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .subtitle {
      margin-bottom: 1rem;
    }

    .description {
      margin-bottom: 1rem;
    }

    .medias {
      & {
        display: flex;
        width: 100%;
      }
      
      > .link {
        & {
          color: $grey-dark;
          margin-right: 2rem;
          font-size: $font-large;      
        }

        &:hover {
          color: $blue-medium;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .team-profile {
    & {
      grid-template-columns: repeat(2, 1fr);
    }

    > .photo {
      & {
        display: flex;
        justify-content: flex-end;
        padding: .75rem .75rem .75rem 3rem;
        background-size: 75%;
      }

      > .image {
        margin-left: 4rem;
      }

      &:after {
        bottom: -.35rem;
      }
    }

    > .text {
      padding: 0;
      max-width: 350px;

      > .medias {
        margin-right: .5rem;
        font-size: $font-normal;
      }
    }
  }
}