<div class="team-profile">
  <div class="photo">
    <img class="image" src="assets/images/elisio-avatar.jpg" alt="Foto de Elisio Filho">
  </div>

  <div class="text">
    <h2 class="title -bold -red">Elisio Filho</h2>
    <h4 class="subtitle -uppercase">Organizador</h4>
    <p class="description">Analista de sistemas e empreendedor apaixonado por aventuras e desafios do mundo digital.</p>
    <nav class="medias">
      <a class="link" href="https://br.linkedin.com/pub/elisio-filho/a5/9b8/602" title="Linkedin">
        <i class="mdi mdi-linkedin"></i>
      </a>
      <a class="link" href="https://twitter.com/NetinhuFilho" title="Twitter">
        <i class="mdi mdi-twitter"></i>
      </a>
      <a class="link" href="https://www.instagram.com/netinhufilho/" title="Instagram">
        <i class="mdi mdi-instagram"></i>
      </a>
      <a class="link" href="https://www.facebook.com/netinhufilho" title="Facebook">
        <i class="mdi mdi-facebook"></i>
      </a>
    </nav>
  </div>
</div>