<section class="for-you">
  <div class="text">
    <h2 class="title -big">
      Para
      <span class="-green">você!</span>
    </h2>

    <p class="description">
      Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. 
    </p>
  </div>

  <div class="info">
    <div class="coconut">
      <img class="image" src="assets/images/green-coconut-tree.png" alt="Paisagem coqueiro verde">
    </div>

    <ul class="list">
      <li class="item">Desenvolvedor</li>
      <li class="item">Design</li>
      <li class="item">Mobile</li>
      <li class="item">Negócios</li>
    </ul>
  </div>
</section>