<section class="for-you">
  <div class="text">
    <h2 class="title -big">
      Para
      <span class="-green">você!</span>
    </h2>

    <p class="description">
      O DevFest Maceió é um evento focado em trazer a melhor experiência em conteúdo, aprendizado e networking ativo de forma clara e aberta, mostrando todos os caminhos os quais o participante pode percorrer em sua vida profissional. E tudo isso com o exemplo de grandes feras que atuam no mercado de trabalho.
    </p>
  </div>

  <div class="info">
    <div class="coconut">
      <img class="image" src="assets/images/green-coconut-tree.png" alt="Paisagem coqueiro verde">
    </div>

    <ul class="list">
      <li class="item -large">Empreendedor</li>
      <li class="item -large">Desenvolvedor</li>
      <li class="item -large">Designer</li>
      <li class="item -large">Empresário</li>
    </ul>
  </div>
</section>