/* ===============

Component: Navigation
Author: Thiago Queiroz

=============== */

@import "assets/stylesheets/core/variables";

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  > .link {
    margin-left: 1rem;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}