/* ===============

Component: Navigation
Author: Thiago Queiroz

=============== */

@import "assets/stylesheets/core/variables";

.navigation {
  & {
    height: 100%;
  }

  .list {
    & {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }
    > .link {
      margin-left: 1rem;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .mobile {
    display: none;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .navigation {
    .list {
      display: none;
    }
    .mobile {
      display: flex;
    }
  }
}